.team-section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  background-color: $secondary-bc-color;
  text-align: center;
}

.team-section__heading {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  letter-spacing: 0.03em;
  color: $title-text-color;
}

.member-card {
  background-color: $main-bc-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.member-card__image {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.member-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: $title-text-color;
  margin-bottom: 10px;
}

.member-card__position {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(16 / 19);
  letter-spacing: 0.03em;
  color: $text-color;
}

.member-card__social-net-links-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.member-card__link {
  padding: 12px;
  color: $social-net-link-color;
}

.member-card__social-net-icon {
  fill: currentColor;
}
